@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


.dropdown-menu {
    left: -5em;
}

.drop-men {
    margin: 19px;
}

.panel-footer {
    text-align: center;
}

.addFileButton {
    color: #0091ea;
    background-color: transparent;
}



.ag-cell-custom{
    padding-left: 0px !important;
    padding-right: 0px !important; 
}

.btn-action{
    padding: 4px 9px;
}