<div class="login">
    <h1><a [attr.href]="">Apiria</a></h1>
    <div class="login-bottom">
        <h2>Signup</h2>
        <form [formGroup]="signup" (ngSubmit)="signupSubmit()">
        <div class="col-md-6">
            <div class="error-label">
            <label class="error" *ngIf="(signup.get('name').hasError('required') && (signup.get('name').dirty || signup.get('name').touched)) || (signup.get('name').hasError('required') && !signup.get('name').valid && isSubmit)">Please enter name</label>
            </div>
            <div class="login-mail">
                <input type="text" placeholder="Name" formControlName="name">
                <i class="fa fa-user"></i>
            </div>

            <div class="error-label">
            <label class="error" *ngIf="(signup.get('email').hasError('required') && (signup.get('email').dirty || signup.get('email').touched)) || (signup.get('email').hasError('required') && !signup.get('email').valid && isSubmit)">Please enter email</label>
            </div>
            <div class="login-mail">
                <input type="text" placeholder="Email" formControlName="email">
                <i class="fa fa-envelope"></i>
            </div>

            <div class="error-label">
            <label class="error" *ngIf="(signup.get('password').hasError('required') && (signup.get('password').dirty || signup.get('password').touched)) || (signup.get('password').hasError('required') && !signup.get('password').valid && isSubmit)">Please enter password</label>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" formControlName="password">
                <i class="fa fa-lock"></i>
            </div>

            <div class="error-label">
            <label class="error" *ngIf="(signup.get('repassword').hasError('required') && (signup.get('repassword').dirty || signup.get('repassword').touched)) || (signup.get('repassword').hasError('required') && !signup.get('repassword').valid && isSubmit)">Please re-enter password</label>
            <label class="error" *ngIf="confirmPassErr">Passwords do not match</label>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Repeated password" formControlName="repassword">
                <i class="fa fa-lock"></i>
            </div>

            <!-- <label class="error" *ngIf="signup.get('role').hasError('required') && (signup.get('role').dirty || signup.get('role').touched)">Do not have an account?</label>
            <div class="login-mail">
                <select multiple name="selector1" id="selector1" class="form-control1" formControlName="role">
                    <option disabled> Select user type </option>  
                    <option> Admin </option>
                    <option> Manager </option>
                    <option> User </option>
                </select>
                <i class="fa fa-user"></i>
            </div> -->

            <div class="error-label">
            <label class="error" *ngIf="signup.get('term').hasError('required') && (signup.get('term').dirty || signup.get('term').touched)">Do not have an account?</label>
            </div>
            <a class="news-letter" href="#">
                <label class="checkbox1"><input type="checkbox" name="checkbox" formControlName="term"><i> </i>I agree with the terms</label>
            </a>

        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="Signup">
                </label>
                <p>Do not have an account?</p>
            <a routerLink="/login" class="hvr-shutter-in-horizontal">Login</a>
        </div>
        
        <div class="clearfix"> </div>
        </form>
    </div>
</div>
    <!---->
<div class="copy-right">
        <p> &copy; 2019 Apiria. All Rights Reserved </p>	    </div>  