.form-control1 {
    height: 28px;
}

.error {
    font-size: 13px;
    color: #e00707;
    font-weight: 100;
}

.error-label{
    height: 25px;
}

.login-mail {
    margin-bottom: 0.6em;
}

.login-do{
    padding: 22px;
}