<div id="wrapper">
    <app-nav></app-nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">
            <div class="banner">
                <h2>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Request Reimbursement Claim</span>
                </h2>
            </div>
            <div class="blank">
                <div class="blank-page">
                    <div class="grid-form1">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal" [formGroup]="uploadForm"
                                (ngSubmit)="uploadSubmit()">
                                <!-- <div class="form-group has-error">
                                <label class="col-md-2 control-label">Input Addon Error</label>
                                <div class="col-md-8">
                                    <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="password" class="form-control1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">Error!</p>
                                </div>
                            </div> -->

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Select Reimbursement Type*</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <select class="form-control1" formControlName="type">
                                                <option>Business travel</option>
                                                <option>Education or training</option>
                                                <option>Travel</option>
                                                <option>Medical</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block" *ngIf="(uploadForm.get('type').hasError('required') && (uploadForm.get('type').dirty || uploadForm.get('type').touched)) || (uploadForm.get('type').hasError('required') && !uploadForm.get('type').valid && isSubmit)">Please select type</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Select Month* </label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <select class="form-control1" formControlName="month">
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block" *ngIf="(uploadForm.get('month').hasError('required') && (uploadForm.get('month').dirty || uploadForm.get('month').touched)) || (uploadForm.get('month').hasError('required') && !uploadForm.get('month').valid && isSubmit)">Please select month</p>
                                    </div>
                                </div>

                                

                                <div class="form-group">
                                    <label class="col-md-3 control-label"> ₹ Amount*</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input type="number" formControlName="amount" class="form-control1">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block" *ngIf="(uploadForm.get('amount').hasError('required') && (uploadForm.get('amount').dirty || uploadForm.get('amount').touched)) || (uploadForm.get('amount').hasError('required') && !uploadForm.get('amount').valid && isSubmit)">Please enter amount</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Add file*</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <!-- <input type="file" id="exampleInputFile"> -->
                                            <input type="text" class="form-control1" value="{{filesName}}" disabled>
                                            <div class="input-group-addon file-attach">
                                                <input type="file" (change)="fileChange($event)" formControlName="document" type="file" 
                                                multiple id="document"  accept="application/msword, application/vnd.ms-excel, 
                                                text/plain, application/pdf, image/*"> <i class="fa fa-file"></i> Select File </div>
                                            <!-- <div class="input-group-addon addFileButton"><i class="fa fa-plus"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block" *ngIf="(uploadForm.get('document').hasError('required') && (uploadForm.get('document').dirty || uploadForm.get('document').touched)) || (uploadForm.get('document').hasError('required') && !uploadForm.get('document').valid && isSubmit)">Please attach document</p>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                        <div class="col-md-7">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="90%">
                                                    File Name
                                                </th>
                                                <th width="10%">
                                                    Remove
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploader.queue">
                                                <th width="90%">
                                                    {{item._file.name}} {{item._file.size}}
                                                </th>
                                                <th class="text-center" width="10%">
                                                    <i class="fa fa-trash" (click)="item.remove()">delete</i>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Comment*</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <textarea formControlName="comment" class="form-control1"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block" *ngIf="(uploadForm.get('comment').hasError('required') && (uploadForm.get('comment').dirty || uploadForm.get('comment').touched)) || (uploadForm.get('comment').hasError('required') && !uploadForm.get('comment').valid && isSubmit)">Please enter comment</p>
                                    </div>
                                </div>


                                <!-- <div class="form-group">
                                <label class="col-md-2 control-label">Input Processing</label>
                                <div class="col-md-8">
                                    <div class="input-icon right spinner">
                                        <i class="fa fa-fw fa-spin fa-spinner"></i>
                                        <input id="email" class="form-control1" type="text" placeholder="Processing...">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">Processing right</p>
                                </div>
                            </div> -->


                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn-primary btn">Submit</button>
                                            <button class="btn-default btn">Cancel</button>
                                            <button class="btn-inverse btn">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy">
                <p> &copy; 2019 Minimal. All Rights Reserved </p>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>