textarea{
    height: 100px;
}

#exampleInputFile{
    /* display: none; */
}

input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 71%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.file-attach{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


.help-block{
    color: #e00707
}