<div id="wrapper">
        <app-nav></app-nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                <div class="banner">
                    <h2>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                        <span>Add User</span>
                    </h2>
                </div>
                <div class="blank">
                    <div class="blank-page">
                        <div class="grid-form1">
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" [formGroup]="addUser"
                                    (ngSubmit)="registerSubmit()">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"> Name*</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" formControlName="name" class="form-control1">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block" *ngIf="(addUser.get('name').hasError('required') && (addUser.get('name').dirty || addUser.get('name').touched)) || (addUser.get('name').hasError('required') && !addUser.get('name').valid && isSubmit)">Name Required</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"> Email*</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" formControlName="email" class="form-control1">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block" *ngIf="(addUser.get('email').hasError('required') && (addUser.get('email').dirty || addUser.get('email').touched)) || (addUser.get('email').hasError('required') && !addUser.get('email').valid && isSubmit)">Email Required</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"> Password* </label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="password" formControlName="password" value="1234" class="form-control1">
                                            </div>
                                        </div>
                                        <div class="col-sm-2" >
                                            <p class="help-block" *ngIf="(addUser.get('password').hasError('required') && (addUser.get('password').dirty || addUser.get('password').touched)) || (addUser.get('password').hasError('required') && !addUser.get('password').valid && isSubmit)">Password Required</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Select Role* </label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <select class="form-control1" (change)="changeValidation($event.target.value);" formControlName="role">
                                                    <option value="admin">Admin</option>
                                                    <option value="manager">Manager</option>
                                                    <option value="user">User</option>
                                                </select>
                                                <!-- <input type="checkbox" formControlName="AdminRole" value="admin"> Admin 
                                                <input type="checkbox" formControlName="managerRole" value="manager"> Manager 
                                                <input type="checkbox" formControlName="userRole" value="user"> User  -->
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block" *ngIf="(addUser.get('role').hasError('required') && (addUser.get('role').dirty || addUser.get('role').touched)) || (addUser.get('role').hasError('required') && !addUser.get('role').valid && isSubmit)">Please select a role</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Select Manager* </label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <select class="form-control1" (change)="changeValidation($event.target.value);" formControlName="manager">
                                                    <option *ngFor="let manager of managers" value="{{manager.email}}">{{manager.name}} {{manager.email}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block" *ngIf="(addUser.get('manager').hasError('required') && (addUser.get('manager').dirty || addUser.get('manager').touched)) || (addUser.get('manager').hasError('required') && !addUser.get('manager').valid && isSubmit)">Manager name Required</p>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button type="submit" class="btn-primary btn">Submit</button>
                                                <button class="btn-default btn">Cancel</button>
                                                <button class="btn-inverse btn">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy">
                    <p> &copy; 2019 Minimal. All Rights Reserved </p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>