<div id="wrapper">
        <app-nav></app-nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                <div class="banner">
                    <h2>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                        <span>All Users</span>
                    </h2>
                </div>
                <div class="blank">
                    <div class="blank-page">
                        <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-balham"
                            [gridOptions]="gridOptions" resizable ="true" [pagination]="true" [paginationPageSize]="10" (gridReady)="onGridReady($event)" [rowData]="rowData">
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="copy">
                    <p> &copy; 2019 Minimal. All Rights Reserved </p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <router-outlet></router-outlet>