<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" routerLink="/pending-claim">Apiria</a></h1>
    </div>
    <div class="border-bottom"></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="drop-men">
        <ul class="nav_1">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">Hi!
                        {{loggedInUser.data.name}}<i class="caret"></i></span><img></a>
                <ul class="dropdown-menu " role="menu">
                    <li  (click)="logout()"><a><i class="fa fa-clipboard"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
    <div class="clearfix"></div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a [attr.href]="" class="hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span
                            class="nav-label">Reimbursement</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li *ngIf="(userRole!=='user')?true:false">
                            <a routerLink="/pending-claim" class="hvr-bounce-to-right active">
                                <i class="fa fa-bell nav_icon"></i>Pending Claims
                            </a>
                        </li>
                        <li *ngIf="(userRole!=='user')?true:false">
                            <a routerLink="/all-claim" class="hvr-bounce-to-right active">
                                <i class="fa fa-send nav_icon"></i>All Claims
                            </a>
                        </li>
                        <li>
                            <a routerLink="/my-claims" class="hvr-bounce-to-right active">
                                <i class="fa fa-hourglass-start nav_icon"></i>My Claims
                            </a>
                        </li>
                        
                        <li>
                            <a routerLink="/make-claim" class="hvr-bounce-to-right">
                                <i class="fa fa-edit nav_icon"></i>Request Claim
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="(userRole=='admin')?true:false">
                    <a [attr.href]="" class="hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i> <span
                            class="nav-label">Manage User</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a routerLink="/add-user" class="hvr-bounce-to-right"> 
                                <i class="fa fa-user-plus nav_icon"></i>Add User
                            </a>
                        </li>
                        <li>
                            <a routerLink="/users-list" class="hvr-bounce-to-right">
                                <i class="fa fa-users nav_icon"></i>All User
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>