<div class="login">
    <h1><a [attr.href]="">Apiria </a></h1>
    <div class="login-bottom">
        <h2>Login</h2>
        <form [formGroup]="login" (ngSubmit)="loginSubmit()">
        <div class="col-md-6">
            <div class="error-label">
                <label class="error" *ngIf="(login.get('email').hasError('required') && (login.get('email').dirty || login.get('email').touched)) || (login.get('email').hasError('required') && !login.get('email').valid && isSubmit)">Please enter email</label>
            </div>
            <div class="login-mail">
                <input type="text" placeholder="Email" formControlName="email">
                <i class="fa fa-envelope"></i>
            </div>

            <div class="error-label">
                <label class="error" *ngIf="(login.get('password').hasError('required') && (login.get('password').dirty || login.get('password').touched)) || (login.get('password').hasError('required') && !login.get('password').valid && isSubmit)">Please enter password</label>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" formControlName="password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="login">
                </label>
                <p>Do not have an account?</p>
            <a routerLink="/sign-up" class="hvr-shutter-in-horizontal">Signup</a>
        </div>
        
        <div class="clearfix"> </div>
        </form>
    </div>
</div>
    <!---->
<div class="copy-right">
        <p> &copy; 2019 Apiria. All Rights Reserved </p>	    </div>  