<!-- <button style="height: 21px"  class="btn btn-info"></button> -->
<button (click)="click('approve')" class="btn" title="Approve"><i class="fa fa-check green"></i></button>
<button (click)="click('reject')" class="btn" title="Reject"><i class="fa fa-close red"></i></button>